

// Color palettes

    // Primary Color 
        // Primary Color - Light 
            $primaryColor-Light: #05e55c;
        // Primary Color 
            $primaryColor: #0b9942;
        // Primary Color - Dark 
            $primaryColor-Dark: rgb(9, 128, 54);
    
    // Secondary Color 
        // Secondary Color: 
            $SecondaryColor: #129992;
        // Secondary Color - Light 
            $SecondaryColor-light: rgb(126, 204, 200); 
        
    // Tertiary Color 
        // Tertiary Color 
            $tertiaryColor: #991281;
        // Tertiary Color - Dark 
            $tertiaryColor-dark: rgb(115, 54, 74);
    
    // Grey Color 
        // Grey Color - Light 
            $greyColor-light: rgb(235, 235, 235); 
        // Grey Color 
            $greyColor: rgb(196, 196, 196);
        // grey Color - dark 
            $greyColor-dark: rgb(158, 158, 158);

    // White color 
        // white color 
            $whiteColor: rgb(245, 244, 244); 
    
    // Black color 
        // Black color 
            $blackColor: black;

    // Red color 
        // red Color 
            $redColor: rgb(219, 22, 0);
    
    // Green Color 
        // Green Color 
            $greenColor: rgb(1, 219, 12);
    
    // Orange Color 
        // Orange Color
            $orgenColor: rgb(247, 103, 7);
    
    // Transparent Color 
        // Transparent color - White 
            $tbWhiteColor: rgba(255, 255, 255, 0.595);;
        // Transparent Color - Black 
            $tbBlackColor: rgba(255, 255, 255, 0);
    
    // Sosial Media Color 
        // Facebook Color 
            $facebookColor: #4267B2;
        // Twitter Color
            $twitterColor: #1DA1F2;
        // Instagram Color 
            $instagramColor: #E1306C;

// Font - 

        