
@keyframes intro_loader {
    0%{
        transform: rotate(0deg);
        opacity: 0;
    }
    10%{
        opacity: .2;
    }
    20% {
        opacity: .4;
    }
    30%{
        opacity: .6;
    }
    40%{
        opacity: .8;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: .8;
    }
    70%{
        opacity: .6;
    }
    80%{
        opacity: .4;
    }
    90%{
        opacity: .2;
    }
    
    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}