#home__image--1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25vh;
    max-height: 50vh;
}

#home__image--2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25vh;
    max-height: 50vh;
}