.btn {
    &__close {
        border: none;
        background-color: $tbWhiteColor;
        color: black;
        font-size: 1.6rem;
    }
    &__refresh {
        border: none;
        background-color: $tbWhiteColor;
        font-size: 1.5rem;
        &:hover {
            animation: btnrotat 2S ease-in-out;
        }
    }

    &__menu{
        border: none;
        background-color: $tbWhiteColor;
    }


}

.link {
    
    &__NavDesktop {
        color: black;
        

    }

    &__MobilIcon {
        font-size: 30px;
        color: $whiteColor;
        padding: 0.5rem;
        animation: navop 3S ease-in-out;
        
    }

    &__read{
        
        color: $tertiaryColor;
        text-decoration: underline;
    }

    &__desktopNav {
        font-family: 'Oswald';
       
        font-weight: 800;
        color: $blackColor;
        text-transform: uppercase;

        &:hover{
            color: $primaryColor;
            transform: scale(1.2);
        }

        &--active {
            color: $greyColor-dark;
        }

    }
}