.image {

    &__loading{
        min-width: 200px;
        max-width: 400px;
    }
}



.img__logo {
    max-height: 3rem;
}

.img__profile {
    min-width: 5rem;
    max-height: 10rem;
    border-radius: 75%;
}

 